USE [master]
GO
/****** Object:  Database [QuanLyMenuNews]    Script Date: 20/06/2026 1:05:42 CH ******/
CREATE DATABASE [QuanLyMenuNews]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyMenuNews', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyMenuNews.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyMenuNews_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyMenuNews_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyMenuNews].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyMenuNews]
GO
/****** Object:  Table [dbo].[Menu_News]    Script Date: 20/06/2026 1:05:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu_News](
	[Menu_Id] [int] NOT NULL,
	[News_Id] [int] NOT NULL,
 CONSTRAINT [PK_Menu_News] PRIMARY KEY CLUSTERED 
(
	[Menu_Id] ASC,
	[News_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menus]    Script Date: 20/06/2026 1:05:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menus](
	[Menu_Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[slug] [varchar](255) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[deleted_at] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Menu_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[news]    Script Date: 20/06/2026 1:05:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[news](
	[News_Id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[slug] [varchar](255) NOT NULL,
	[content] [nvarchar](max) NULL,
	[Thumbnail] [varchar](255) NULL,
	[IsDeleted] [bit] NOT NULL,
	[deleted_at] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[address] [nvarchar](255) NULL,
	[ward_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[News_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[website_localization]    Script Date: 20/06/2026 1:05:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[website_localization](
	[key_localization] [varchar](32) NOT NULL,
	[localization] [nvarchar](32) NOT NULL,
	[is_actived] [bit] NOT NULL,
 CONSTRAINT [PK_website_localization] PRIMARY KEY CLUSTERED 
(
	[key_localization] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[website_localization_ward_v2]    Script Date: 20/06/2026 1:05:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[website_localization_ward_v2](
	[ward_id] [int] IDENTITY(1,1) NOT NULL,
	[ward_pid] [int] NULL,
	[name] [nvarchar](64) NOT NULL,
	[name_en] [varchar](64) NOT NULL,
	[full_name] [nvarchar](96) NOT NULL,
	[full_name_en] [varchar](96) NOT NULL,
	[key_localization] [varchar](32) NOT NULL,
	[is_actived] [bit] NOT NULL,
 CONSTRAINT [PK_website_localization_ward_v2] PRIMARY KEY CLUSTERED 
(
	[ward_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Menu_News] ([Menu_Id], [News_Id]) VALUES (1, 1)
INSERT [dbo].[Menu_News] ([Menu_Id], [News_Id]) VALUES (1, 3)
INSERT [dbo].[Menu_News] ([Menu_Id], [News_Id]) VALUES (2, 3)
GO
SET IDENTITY_INSERT [dbo].[menus] ON 

INSERT [dbo].[menus] ([Menu_Id], [name], [slug], [IsDeleted], [deleted_at], [CreatedAt], [UpdatedAt]) VALUES (1, N'Tuổi Trẻ', N'tuoi-tre', 0, NULL, CAST(N'2026-06-19T04:06:35.0056588' AS DateTime2), CAST(N'2026-06-19T06:08:58.4481669' AS DateTime2))
INSERT [dbo].[menus] ([Menu_Id], [name], [slug], [IsDeleted], [deleted_at], [CreatedAt], [UpdatedAt]) VALUES (2, N'Bài Viết Bóng Đá', N'bai-viet-bong-da', 1, CAST(N'2026-06-19T12:28:02.5398974' AS DateTime2), CAST(N'2026-06-19T05:26:23.7473707' AS DateTime2), CAST(N'2026-06-19T05:26:23.7473710' AS DateTime2))
INSERT [dbo].[menus] ([Menu_Id], [name], [slug], [IsDeleted], [deleted_at], [CreatedAt], [UpdatedAt]) VALUES (3, N'Báo Bóng Đá', N'bao-bong-da', 1, CAST(N'2026-06-19T12:27:28.8748698' AS DateTime2), CAST(N'2026-06-19T05:26:23.8335321' AS DateTime2), CAST(N'2026-06-19T05:26:23.8335324' AS DateTime2))
SET IDENTITY_INSERT [dbo].[menus] OFF
GO
SET IDENTITY_INSERT [dbo].[news] ON 

INSERT [dbo].[news] ([News_Id], [title], [slug], [content], [Thumbnail], [IsDeleted], [deleted_at], [CreatedAt], [UpdatedAt], [address], [ward_id]) VALUES (1, N'Bài Viết 1', N'bai-viet-1', N'Tuổi Trẻ 1', N'img1.jpg', 0, NULL, CAST(N'2026-06-19T04:06:35.0169992' AS DateTime2), CAST(N'2026-06-19T06:08:58.4941955' AS DateTime2), N'Số 1 phố Tràng Tiền', NULL)
INSERT [dbo].[news] ([News_Id], [title], [slug], [content], [Thumbnail], [IsDeleted], [deleted_at], [CreatedAt], [UpdatedAt], [address], [ward_id]) VALUES (2, N'Bài Viết 2', N'bai-viet-2', N'Tuổi Trẻ 1', N'img1.jpg', 0, NULL, CAST(N'2026-06-19T04:06:35.1198102' AS DateTime2), CAST(N'2026-06-19T04:06:35.1198105' AS DateTime2), NULL, NULL)
INSERT [dbo].[news] ([News_Id], [title], [slug], [content], [Thumbnail], [IsDeleted], [deleted_at], [CreatedAt], [UpdatedAt], [address], [ward_id]) VALUES (3, N'Phóng Sự 1', N'phong-su-1', N'Phỏng Vấn', N'Messi', 0, NULL, CAST(N'2026-06-19T05:26:23.7401010' AS DateTime2), CAST(N'2026-06-19T06:08:58.4977511' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[news] OFF
GO
INSERT [dbo].[website_localization] ([key_localization], [localization], [is_actived]) VALUES (N'VIETNAM', N'Việt Nam', 1)
GO
SET IDENTITY_INSERT [dbo].[website_localization_ward_v2] ON 

INSERT [dbo].[website_localization_ward_v2] ([ward_id], [ward_pid], [name], [name_en], [full_name], [full_name_en], [key_localization], [is_actived]) VALUES (1, 0, N'Thành phố Hà Nội', N'Ha Noi City', N'Thành phố Hà Nội', N'Ha Noi City', N'VIETNAM', 1)
INSERT [dbo].[website_localization_ward_v2] ([ward_id], [ward_pid], [name], [name_en], [full_name], [full_name_en], [key_localization], [is_actived]) VALUES (2, 0, N'Tỉnh Cao Bằng', N'Cao Bang Province', N'Tỉnh Cao Bằng', N'Cao Bang Province', N'VIETNAM', 1)
INSERT [dbo].[website_localization_ward_v2] ([ward_id], [ward_pid], [name], [name_en], [full_name], [full_name_en], [key_localization], [is_actived]) VALUES (3, 0, N'Tỉnh Tuyên Quang', N'Tuyen Quang Province', N'Tỉnh Tuyên Quang', N'Tuyen Quang Province', N'VIETNAM', 1)
GO
SET IDENTITY_INSERT [dbo].[website_localization_ward_v2] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__menus__32DD1E4CCDA16161]    Script Date: 20/06/2026 1:05:42 CH ******/
ALTER TABLE [dbo].[menus] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__news__32DD1E4C9ABC8CE2]    Script Date: 20/06/2026 1:05:42 CH ******/
ALTER TABLE [dbo].[news] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_news_ward_id]    Script Date: 20/06/2026 1:05:42 CH ******/
CREATE NONCLUSTERED INDEX [IX_news_ward_id] ON [dbo].[news]
(
	[ward_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ward_key_localization]    Script Date: 20/06/2026 1:05:42 CH ******/
CREATE NONCLUSTERED INDEX [IX_ward_key_localization] ON [dbo].[website_localization_ward_v2]
(
	[key_localization] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ward_pid]    Script Date: 20/06/2026 1:05:42 CH ******/
CREATE NONCLUSTERED INDEX [IX_ward_pid] ON [dbo].[website_localization_ward_v2]
(
	[ward_pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[menus] ADD  DEFAULT (NULL) FOR [deleted_at]
GO
ALTER TABLE [dbo].[menus] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[menus] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[news] ADD  DEFAULT (NULL) FOR [Thumbnail]
GO
ALTER TABLE [dbo].[news] ADD  DEFAULT (NULL) FOR [deleted_at]
GO
ALTER TABLE [dbo].[news] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[news] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[website_localization] ADD  DEFAULT ((1)) FOR [is_actived]
GO
ALTER TABLE [dbo].[website_localization_ward_v2] ADD  DEFAULT ((1)) FOR [is_actived]
GO
USE [master]
GO
